<Html>

    <Head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

      <title>
        AWB Acceptance
      </title>
      <style>
      .accordion {
                background-color: #eee;
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
            }
    
            .active,
            .accordion:hover {
                background-color: #ccc;
            }
    
            .panel {
                padding: 30px;
                display: none;
                background-color: white;
                overflow: hidden;
                border: 1px solid grey;
            }
    
            .acceptance {
                padding: 30px;
                background-color: white;
                border: 1px solid grey;
    
            }
    
            .acceptance-heading {
                background-color: #eee;
                color: #444;
                padding: 18px;
            }
    
            .acceptance-body {
                padding: 18px;
            }
        .block1 {
          padding-top: 20px;
          padding-bottom: 100px;
          border: 3px solid black;
          text-align: left;
        }
        .center {
          padding: 50px 20;
          border: 3px solid black;
          text-align: left;
        }
        .center1,
    .center2	{
          padding: 40px 20px;
          border: 3px solid black;
          text-align: left;
          
        }
        
        }
    
    :root {
      --borderWidth: 7px;
      --height: 20px;
      --width: 12px;
      --borderColor: #78b13f;
    }
    
    body {
      padding: 20px;
      text-align: left;
    }
    .check {
      display: inline-block;
      transform: rotate(45deg);
      height: var(--height);
      width: var(--width);
      border-bottom: var(--borderWidth) solid var(--borderColor);
      border-right: var(--borderWidth) solid var(--borderColor);
    }
    button{
        margin-top:30px;
    }  
      </style>
      <SCRIPT language="javascript">
       
      </SCRIPT>
    </Head>
    
    <Body>
    <div class="fullContainer" id="mainblock" style=" border: 3px solid black;padding: 50px 20;">
    <!-- Allwyn html ...................................... -->
        <form class="center" id="awbUbrNumber">
    
            <label for="awbn">AWB Number:</label>
            <input type="text" id="awbn" name="awbn">
            <label for="ubr">UBR Number:</label>
            <input type="text" id="ubrn" name="ubrn">
            <div style="width:10%;Text-align:left;float:right;">
                    <input type="submit" value="List" class="btn btn-primary">
                    <input type="button" value="Clear" class="btn btn-danger" onclick="clearAWBUBRNumber()">
            </div>
            
        </form>
        <form class="block1">
    <div>
        <div style="width:20%;Text-align:center;float:left;">
            <label for="awbn"><strong>AWB Number:</strong></label><br><br>
            <label for="awbn">QWWFCC345CVB</label>
        </div>
        
        <div  style="width:20%;Text-align:center;float:left;">
        <div class="check" >
        </div>
        Ready for carriage
        <br><br>
        <div class="check" >
        </div>
        Acceptance finalized
        </div>
        <div style="width:20%;Text-align:center;float:left;">
            <label for="ubr"><strong>Route:</strong></label><br><br>
            <label for="awbn">CVG-LAX</label>
        </div>
        <div style="width:20%;Text-align:center;float:left;">
            <label for="ubr"><strong>LAT:</strong></label><br><br>
            <label for="awbn">Tue Dec 01 2020</label>
            <label for="awbn">15:46:30</label>
        </div>
        <div style="width:20%;Text-align:center;float:left;">
            <label for="ubr"><strong>AWB Dropoff Time:</strong></label><br><br>
            <label for="awbn">Tue Dec 01 2020</label>
            <label for="awbn">15:46:30</label>
        </div>
    </div>	
    </form>
        <div class="acceptance-heading">
            <h2>ACCEPTANCE</h2>
        </div>
        <div class="acceptance-body">
            <input type="checkbox" id="parts" name="parts" value="yes">
            <label for="partsReceived">All parts received</label>
            <br>
        </div>
        <button class="accordion"><strong>BULK BOOKING</strong></button>
        <div class="panel">
            <form id="bulkBookingForm">
                <label for="pieces">Pieces:</label>
                <input type="number" id="piecesBulk" name="piecesBulk" min="0" max="99999">
                <label for="weight">Weight:</label>
                <input type="number" id="weightBulk" name="weightBulk" min="0" max="99999">
                <label for="location">Location:</label>
                <input type="text" id="locationBulk" name="locationBulk">
                <label for="warehouse">Warehouse:</label>
                <select name="warehouseBulk" id="warehouseBulk">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <div style="width:10%;Text-align:left;float:right;">
                        <input type="button" value="Add" class="btn btn-success" onclick="showBulkInput();">
                        <input type="button" value="Clear" class="btn btn-danger" onclick="clearAcceptanceBulkBooking()">
                </div>                
            </form>
            <h4 id='acceptedShipment'></h4>
            <p>
                <span id='displayBulkPcs'></span>
            </p>
            <p>
                <span id='displayBulkWeight'></span>
            </p>
            <p>
                <span id='displayBulkLocation'></span>
            </p>
            <p>
                <span id='displayWarehouseBulk'></span>
            </p>
            <h4 id='deleteBulkEntry'></h4>
        </div>
        <br></br>
        <button class="accordion"><strong>ULD BOOKING</strong></button>
        <div class="panel">
            <form id="uldBookingForm">
                <label for="pieces">Pieces:</label>
                <input type="number" id="piecesULD" name="piecesULD" min="0" max="99999">
                <label for="weight">Weight:</label>
                <input type="number" id="weightULD" name="weightULD" min="0" max="99999">
                <label for="location">Location:</label>
                <input type="text" id="locationULD" name="locationULD">
                <label for="uld">ULD:</label>
                <input type="number" id="uldULD" name="uldULD" min="0" max="999999999">
                <label for="warehouse">Warehouse:</label>
                <select name="warehouseULD" id="warehouseULD">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <div style="width:10%;Text-align:left;float:right;">
                    <input type="button" value="Add" class="btn btn-success" onclick="showULDInput();">
                <input type="button" value="Clear" class="btn btn-danger" onclick="clearAcceptanceULDBooking()">
                </div>
            </form>
            <h4 id='acceptedULD'></h4>
            <p>
                <span id='displayPcs'></span>
            </p>
            <p>
                <span id='displayWeight'></span>
            </p>
            <p>
                <span id='displayLocation'></span>
            </p>
            <p>
                <span id='displayULD'></span>
            </p>
            <p>
                <span id='displayWarehouseULD'></span>
            </p>
            <h4 id='deleteULDEntry'></h4>
        </div>
    
        <br></br>
    
        <!-- Allwyn html ...................................... -->
    
      
    <div style="border: 3px solid black;padding: 0px 30px;">
    <h2 style="Text-align:left;">SCREEN DETAILS</h2>
      <form  id="screenDetailsForm">
      <div style="width:30%;Text-align:left;float:left;">
            <label for="airport">Airport:</label>
             <input type="text" id="airport" name="airport">
        </div>
        <div style="width:20%;Text-align:left;float:left;">
            <label for="methods">Methods:</label>
            <select name="methods" id="methods">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
        </div>
        <div style="width:20%;Text-align:left;float:left;">
            <label for="pcs">Pieces:</label>
             <input type="number" id="pieces" name="Pcs" min="0" max="99999">
        </div>
        <div style="width:20%;Text-align:left;float:left;">
            <label for="result">Result:</label>
             <select name="result" id="result">
              <option value="Pass">Pass</option>
              <option value="Fail">Fail</option>
            </select>
        </div>
        <input type="button" value="Add" class="btn btn-success" onclick="showScreenDetails();">
        <input type="button" value="Clear" class="btn btn-danger" onclick="clearScreenDetails()">
      </form>
      <h4 id='ScreenDetails'></h4>
            <p>
                <span id='displayAirport'></span>
            </p>
            <p>
                <span id='displayMethod'></span>
            </p>
            <p>
                <span id='displayPieces'></span>
            </p>
            <p>
                <span id='displayResult'></span>
            </p>
            <h4 id='deleteScreenDetails'></h4>
        <form  class="center2">
        <div style="width:40%;Text-align:left;float:left;">
            <label for="screenname">Screen Name:</label>
             <input type="text" id="airport" name="airport">
        </div>
        <div style="width:50%;Text-align:left;float:left;">
            <label for="datetime">Date Time:</label>
             <input type="date" id="shipingdate" name="shipingdate">
             <input type="text" id="time" name="time">
        </div>
        <div style="width:10%;Text-align:left;float:left;">
        <input id="ok" type="submit" class="btn btn-primary" value="OK">
        <input id="print" type="submit" class="btn btn-info" value="Print">
        </div>
        <br></br>
      </form>
      </div>
      <button id="submitbutton" class="btn btn-success" type="submit">Save</button>
      </div>
      <script>
       
            // Allwyn js ......................................
            var acc = document.getElementsByClassName("accordion");
            var i;
    
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
    
            function clearAcceptanceULDBooking() {
                document.getElementById("uldBookingForm").reset();
                document.getElementById("acceptedULD").innerHTML = "";
                document.getElementById('displayPcs').innerHTML = "";
                document.getElementById('displayWeight').innerHTML = ""
                document.getElementById('displayLocation').innerHTML = "";
                document.getElementById('displayULD').innerHTML = "";
                document.getElementById('displayWarehouseULD').innerHTML = "";
                document.getElementById('deleteULDEntry').innerHTML = "";
            }
    
            function clearAcceptanceBulkBooking() {
                document.getElementById("bulkBookingForm").reset();
                document.getElementById('acceptedShipment').innerHTML = "";
                document.getElementById('displayBulkPcs').innerHTML = "";
                document.getElementById('displayBulkWeight').innerHTML = "";
                document.getElementById('displayBulkLocation').innerHTML = "";
                document.getElementById('displayWarehouseBulk').innerHTML = "";
                document.getElementById('deleteBulkEntry').innerHTML = "";
            }
    
            function clearAWBUBRNumber() {
                document.getElementById("awbUbrNumber").reset();
            }
    
            function showULDInput() {
                document.getElementById("acceptedULD").innerHTML = "Accepted ULD";
                document.getElementById('displayPcs').innerHTML = "Pieces: " +
                    document.getElementById("piecesULD").value;
                document.getElementById('displayWeight').innerHTML = "Weight: " +
                    document.getElementById("weightULD").value + "lbs";
                document.getElementById('displayLocation').innerHTML = "Location: " +
                    document.getElementById("locationULD").value;
                document.getElementById('displayULD').innerHTML = "ULD Number: " +
                    document.getElementById("uldULD").value;
                document.getElementById('displayWarehouseULD').innerHTML = "Warehouse: " +
                    document.getElementById("warehouseULD").value;
                document.getElementById('deleteULDEntry').innerHTML = "Click Clear button to remove entry";
            }
            function showBulkInput() {
                document.getElementById('acceptedShipment').innerHTML = "Accepted Shipment"
                document.getElementById('displayBulkPcs').innerHTML = "Pieces: " +
                    document.getElementById("piecesBulk").value;
                document.getElementById('displayBulkWeight').innerHTML = "Weight: " +
                    document.getElementById("weightBulk").value + "lbs";
                document.getElementById('displayBulkLocation').innerHTML = "Location: " +
                    document.getElementById("locationBulk").value;
                document.getElementById('displayWarehouseBulk').innerHTML = "Warehouse: " +
                    document.getElementById("warehouseBulk").value;
                document.getElementById('deleteBulkEntry').innerHTML = "Click Clear button to remove entry";
            }
    
             // Allwyn js ......................................
             
             //Sandra
             function showScreenDetails() {
                 document.getElementById('ScreenDetails').innerHTML = "Screen Details"
                document.getElementById('displayAirport').innerHTML = "Airport: " +
                    document.getElementById("airport").value;
                document.getElementById('displayMethod').innerHTML = "Method: " +
                    document.getElementById("methods").value;
                document.getElementById('displayPieces').innerHTML = "Pcs: " +
                    document.getElementById("pieces").value;
                document.getElementById('displayResult').innerHTML = "Result: " +
                    document.getElementById("result").value;
                document.getElementById('deleteScreenDetails').innerHTML = "Click Clear button to remove entry";
            }
    
            function clearScreenDetails() {
                document.getElementById("screenDetailsForm").reset();
                document.getElementById('ScreenDetails').innerHTML = "";
                document.getElementById('displayAirport').innerHTML = "";
                document.getElementById('displayMethod').innerHTML = "";
                document.getElementById('displayPieces').innerHTML = "";
                document.getElementById('displayResult').innerHTML = "";
                document.getElementById('deleteScreenDetails').innerHTML = "";
            }
             //Sandra
      </script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      <br>
      <br>
    
    </Body>
    
    </Html>